body,html{
    height: 100%;
    margin:0 auto;
    scroll-behavior: smooth;
}   
.link{
    color: salmon;
    padding: 10px 20px;
}
.link:hover{
    background: tomato;
}
.section1{
    background: url(../img/candy.jpg);
    padding: 50px 30px;
    width: 100%;
    height: 90%;
    text-align: center;
    margin-top: 60px;
}
.judul{
    font-family: Freestyle Script;
    font-size: 100px;
    color: darkred;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 5px salmon;

}.sub-judul{
    font-family: futura bk bt;
    font-size: 50px;
    color: black;
    margin: auto;
}
.section2{
    background: #B5CCBD;
    padding: 40px 30px;
    color: darkred;
    font-size: 24px;
    font-family: futura bk bt;
}
.section3{
    background: #F3E1D5;
    font-size: 70px;
    padding: 10px 10px;
    font-family: futura bk bt;
}
.col-warna{
    background-image:linear-gradient(#CF9490,#F3E1D5);
    font-size: 24px;
    font-family: futura bk bt;
}
.col-warna2{
    background: #F3E1D5;
    font-size: 24px;
    font-family: futura bk bt;
}
.section4{
    background: #F6C094;
    padding: 30px 20px;
    color: white;
    font-size: 24px;
    font-family: futura bk bt;